<header class="header" role="banner">
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand fw-normal text-uppercase" href="/index.html">Camilla</a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Navigation Links-->
      <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarNav">
        <ul class="navbar-nav gap-4">
          <li class="nav-item">
            <a class="nav-link fw-medium" href="/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="#resume">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>