@font-face {
  /* Regular */
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
    url('./fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Italic.woff2') format('woff2'),
    url('./fonts/Satoshi-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Bold.woff2') format('woff2'),
    url('./fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Space Mono';
  src: url('./fonts/SpaceMono-Regular.woff2') format('woff2'),
    url('./fonts/SpaceMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'Space Mono';
  src: url('./fonts/SpaceMono-Italic.woff2') format('woff2'),
    url('./fonts/SpaceMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Space Mono';
  src: url('./fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('./fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Vercetti';
  src: url('./fonts/Vercetti-Regular.woff2') format('woff2'),
    url('./fonts/Vercetti-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Voyage';
  src: url('./fonts/VoyageRegular.woff2') format('woff2'), url('./fonts/VoyageRegular.woff') format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}